
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'inter', sans-serif;
    background-color:#f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header{
    font-family: cursive;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding: 10px 0 ;
    position: relative; 
    margin: 10px 0; 
    background-color: burlywood;
    background: linear-gradient(to bottom, burlywood, rgba(255, 255, 255, 0)); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);  
}
    



nav {
    margin-bottom: 20px;
}

nav ul{
    display: flex; 
    justify-content: center; 
    gap: 30px; 
    list-style-type: none; 
    padding: 0
}

nav ul li{
    position: relative;
}


nav ul li a {
    text-decoration: none;
    color: black; 
    font-size: 30px; 
    padding: 10px 15px; 
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: darkblue; 
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content li {
    padding: 10px;
    text-align: left;
}

.dropdown-content li a {
    color: #333;
    padding: 8px 15px;
    font-size: 18px;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f0f0f0;
    color: darkblue;
}



.landing p {
    text-align: center;
    font-size: 20px;
    margin: 30px;
    padding: 10px;
    font-style: italic;
}



